body{
    background-color: white;
    margin: 0;
    padding: 0;
}
header{
    background-color: burlywood;
    padding: 20px;
    text-align: center; 
}
#hero{
    background-image: url(../images/istockphoto-2188818713-2048x2048.webp);
    background-size: cover;
    text-align: center;
    color:white;
    padding:70px 20px;
}
footer{
    text-align: center;
    background-color: rgb(51, 255, 0);
    padding: 10px;
}

.mission{
    color: rgb(226, 43, 186);
    text-decoration: dashed;
}
nav ul{
    list-style-type:none
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color:cornsilk;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}
nav a:hover{
    background-color: chartreuse;
    color: crimson;
}
.contact{
    margin: 40px auto;
    width: 90%;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
h2{
    color: brown;
    text-align: center;
}
.contactform{
    flex: 1;
    min-width: 300px;
    box-shadow: 0 0 10px cornflowerblue;
    padding: 20px;
    border-radius: 10px;
}
.map{
    flex: 1;
    min-width: 300px;
    background-color: rgba(210, 105, 30, 0.288);
    padding: 20px;
    box-shadow: 0 0 10px coral;
    border-radius: 10px;
}
form label{
    display: block;
    font-weight: bold;
}
form input,form textarea{
    display: block;
    width: 100%;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}
form button{
    background-color: blue;
    width: 100%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.map iframe{
    width: 100%;
    border-radius: 10px;
}
/* responsive design */
@media(max-width:768px){
.contact-container{
   flex-direction: column;
}
}
/* service page */
#myservices{
    width: 90%;
    margin: 40px auto;
    text-align: center;

}
.services{
    background-color: white;
    width: 90%;
    margin: 40px auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.service{
    width: 350px;
    background-color: lightsteelblue;
    box-shadow: 0 0 12px cornflowerblue;
    border-radius: 10px;
    text-align: center;
}
.service:hover{
    transform: translate(-8px);
}
.service img{
    width: 100%;
    height: 220px;
    object-fit: cover;

}